# Compiled source #
.vs
.vscode

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe

# Build directories
build
bin
x64

# Dependency directories
lib/

# Added by cargo

/target
Cargo.lock